
#people-fieldset #list {
    width: 100%;
}

div div div.row {
    clear: both;
}

div div div div {
    min-width: 20px;
    max-width: 30%;
    text-align: center;
}

div div div.col {
    float: left;
}

.col {
    padding: 5px;
    display: inline-block;
}

